:root{
    --sidebar-width: 15%;
    --content-width: calc(100% - var(--sidebar-width));
    --admin-content-height: calc(100vh - 60px - 0.5rem);
}

.admin-header{
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    background-color: #4F4F4F;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4);
    padding: 0 10px;
    width: 100%;
    height: 60px;
    justify-content: space-between;
}

.admin-header img{
    width: 50px;
    height: 50px;
    margin-left: 60px;
}

.toggleBar i{
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.toggleBar{
    margin-right: 2%;
    display: none;
}

.sidenav{
    max-width: 240px;
    width: var(--sidebar-width);
    height: var(--admin-content-height);
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-right: 1px solid hsl(0, 0%, 50%, 0.5);
    background-color: #383434;
}

.sidenav ul {
    width: 100%;
    padding: 0;
    margin: 0;
}

.sidenav li{
    color: white;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 14px 14px 30px;
    width: 100%;
    transition: 0.2s ease;
    border-radius: 4px;
}

.sidenav li:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.05);
}

.sidenav li.active{
    background-color: rgba(255, 255, 255, 0.05);
    position: relative;
}

.sidenav li.active::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    background: linear-gradient(to bottom, var(--bs-yellow), #ffd454, #ffc454,#ffa454);
}

.content{
    width: var(--content-width);
    height: var(--admin-content-height);
    min-width: calc(100% - 300px);
}

@media (max-width: 1200px) {
    .toggleBar{
        display: inline;
    }

    .sidenav {
    }

    .sidenav.show {
        display: block;
    }

    .sidenav.hide {
        display: none;
    }

    .content {
        width: 100%;
    }
}


.admin-login-container{
    background: url('../../assets/img/admin_login_bg.png') no-repeat center center/cover;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#admin-login{
    width: 350px;
    position: absolute;
    height: 560px;
    right: 2%;
    top: 50%;
    transform: translateY(-36%);
}

#admin-login h1{
    font-size: 40px;
    color: black;
    text-align: center;
    margin-bottom: 30px;
}

.admin-login-input{
    width: 100%;
    height: 52px;
    margin-top: 17px;
}

/* .admin-login-input label {
    color: rgba(255, 51, 0, 0.76);
    font-size: 14px;
    display: block;
    margin: 5px;
    font-family: 'Poppins-Regular', sans-serif;
} */

#admin-login input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid #363636;
    padding: 20px 45px 20px 20px;
    font-size: 16px;
    color: black;
}

#admin-login input::placeholder{
    color: #8d8d8d;
    font-size: 16px;
}

#admin-login-btn{
    width: 100%;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
}

#admin-login-btn:hover {
    cursor: pointer;
}

#admin-login a{
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

#admin-login a::after{
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

#admin-login a:hover::after{
    width: 0;
}

