#notification {
  visibility: hidden;
  min-width: 250px;
  color: black;
  background: linear-gradient(to right, greenyellow, #16a085, #2ecc71, darkgreen);
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  border-radius: 7px;
  padding: 20px;
  position: fixed;
  z-index: 10;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes drop-in {
  from {top: 0; opacity: 0}
  to {top: 70px; opacity: 1}
}

@keyframes drop-out {
  from {top: 70px; opacity: 1}
  to {top: 0; opacity: 0}
}

#notification.show{
  visibility: visible;
  animation: drop-in 0.8s, drop-out 0.8s 1.8s;
}